/* ==========================================================================
   Custom Styles - Tryton Web Client
   SAGE Education - Version 1.2
   ========================================================================== */



a {
  color: #264e82;
  text-decoration: none;
}

.text-primary {
  color: #264e82;
}

.bg-primary {
  color: #fff;
  background-color: #264e82;
}
.btn-primary {
  color: #fff;
  background-color: #264e82;
  border-color: #206c6e;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #264e82;
  border-color: #206c6e;
}

.btn-primary .badge {
  color: #264e82;
  background-color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #264e82;
  border-radius: 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #264e82;
  outline: 0;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #264e82;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #264e82;
}

.navbar-inverse {
  background-color: #264e82;
  border-color: #1a585b;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #264e82; /*#1e6466;*/
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #264e82;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #264e82;
  border-color: #264e82;
}

.label-primary {
  background-color: #264e82;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #264e82;
  background-color: #fff;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #264e82;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #264e82;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #264e82;
  border-color: #264e82;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #264e82;
  border-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #264e82;
  background-color: #fff;
}

.panel-primary {
  border-color: #264e82;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #264e82;
  border-color: #264e82;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #264e82;
}
.panel-primary > .panel-heading .badge {
  color: #264e82;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #264e82;
}

html[theme="default"] textarea:focus,
html[theme="default"] textarea.form-control:focus,
html[theme="default"] input.form-control:focus,
html[theme="default"] input[type=text]:focus,
html[theme="default"] input[type=password]:focus,
html[theme="default"] input[type=email]:focus,
html[theme="default"] input[type=number]:focus,
html[theme="default"] [type=text].form-control:focus,
html[theme="default"] [type=password].form-control:focus,
html[theme="default"] [type=email].form-control:focus,
html[theme="default"] [type=tel].form-control:focus,
html[theme="default"] [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #264e82;
  box-shadow: inset 0 -2px 0 #264e82;
}

html[theme="default"] select:focus,
html[theme="default"] select.form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #264e82;
  box-shadow: inset 0 -2px 0 #264e82;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
}

html[theme="default"] input[type="radio"]:before,
html[theme="default"] .radio input[type="radio"]:before,
html[theme="default"] .radio-inline input[type="radio"]:before {
  position: absolute;
  background-color: #264e82;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

html[theme="default"] input[type="radio"]:checked:after,
html[theme="default"] .radio input[type="radio"]:checked:after,
html[theme="default"] .radio-inline input[type="radio"]:checked:after {
  border-color: #264e82;
}

html[theme="default"] input[type="checkbox"]:focus:before,
html[theme="default"] .checkbox input[type="checkbox"]:focus:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:focus:before {
  border-color: #264e82;
}

html[theme="default"] input[type="checkbox"]:checked:before,
html[theme="default"] .checkbox input[type="checkbox"]:checked:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:checked:before,
html[theme="default"] input[type="checkbox"]:indeterminate:before,
html[theme="default"] .checkbox input[type="checkbox"]:indeterminate:before,
html[theme="default"] .checkbox-inline input[type="checkbox"]:indeterminate:before {
  background-color: #264e82;
  border-color: #264e82;
}

html[theme="default"] .nav-tabs > li > a:hover,
html[theme="default"] .nav-tabs > li > a:focus:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #264e82;
  box-shadow: inset 0 -2px 0 #264e82;
  color: #264e82;
}
html[theme="default"] .nav-tabs > li.active > a,
html[theme="default"] .nav-tabs > li.active > a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #264e82;
  box-shadow: inset 0 -2px 0 #264e82;
  color: #264e82;
}
html[theme="default"] .nav-tabs > li.active > a:hover,
html[theme="default"] .nav-tabs > li.active > a:focus:hover {
  border: none;
  color: #264e82;
}

.modal-header {
  background-color: #264e82;/*#267f82;*/
  color: #fff;
}